<footer class="footer bg-dark py-3 mt-auto">
<!--flex-column（縦方向）を使っている。margin-top: auto の略で、余ったスペースを上に押し込む動き*/ -->

<div class="container">
    <span class="text-muted">&copy Yelp Camp2025</span>
</div>

</footer>